<h1 appHighlight>  <!--  appHighlight is custom created directive .. -->
    This is user profile ..
</h1>

<h4 >
    Name : {{name | uppercase}}  <!--   | use for pipe and titlecase is default type . .-->
    <br>
    Salary : {{salary | currency:"INR"}}
    <br>
    Mobile Number : {{mobileNo}} (without pipe)
    <br>
    Mobile Number : {{mobileNo | counrtyCode }} (with pipe)
    <br>
    Mobile Number : {{mobileNo | counrtyCode:"USA" }} (with argument)
</h4>
<!-- this is interpolation  -->

<!-- ng g p <pipename> -->


<button [disabled]='isButtonDisabled' (click)="onClick2()">
    {{btnData }} 
</button>
<br>


two way data biding
look in console
<h1>{{inputValue}}</h1>
<input type="text" [value]="inputValue" (input)="onChange($event)">

<h1>{{inputValue2}}</h1>
<!-- ngmodel is used for direct data biding  -->
<input type="text" [(ngModel)]="inputValue2">
<br>
<br>

<div>
    Iterating in loop using for 
    @for (user of users; track $index) {
        <h4>
            Name : {{user.name | titlecase}} -- 
            Salary : {{user.salary | currency}}
            {{$index}}

            @if(user.salary > 200000){
                ->  employeee
            }
            @else {
                ->  intern 
            }
        </h4>
    }
</div>

<hr>

Iterating in loop using ngFor
<div *ngFor="let user of users">
    <h4>
        Name : {{user.name}} -- 
        Salary : {{user.salary}}

        
        <p *ngIf="user.salary > 200000; else elseBlock" >
            ->  employeee
        </p>
        <ng-template #elseBlock>
            ->intern
        </ng-template>
    </h4>
</div>

